*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lora;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: aqua;
    margin: 0;
    padding: 0;
    /* background-color: lightgreen; Change background color to light green */
    overflow: hidden;
    animation: changeColors 5s infinite alternate; /* Change colors every 10 seconds */
}
  
@keyframes changeColors {
    0% {
      background-color: lightgreen; /* Start color */
    }
    50% {
      background-color: rgb(29, 235, 29) /* Middle color */
    }
    100% {
      background-color: rgb(5, 179, 5); /* End color */
    }
  }
.header{
    width: 50%;
    height: 50vh;
    border-radius: 25px;
    background-color: rgba(255, 255, 133, 0.523);
} 
.calculator {
    text-align: center;
    max-width: 400px;
    margin: auto;
    margin-top: 3%;
}
.container h1{
    text-align: center;
    margin-top: 10%;
}
input, button {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 8%;
}

button:hover {
    background-color: #45a049;
}
/* ---------------------@media------------------------- */
@media(max-width:800px){
    .calculator{
        margin-top: 6%;
    }
    .container h1{
        font-size: 25px;
    }
    button{
        margin-left: 0;
    }
}
@media(max-width:650px){
    .container h1{
        font-size: 20px;
    }
}
@media(max-width:550px){
    button{
        margin-left: 0;
    }
}
@media(max-width:500px){
    .header{
        width: 50%;
    }
    button{
        margin-left: 0;
    }
}
@media(max-width:400px){
    .header{
        width: 60%;
    }
    button{
        margin-left: 0;
    }
}
@media(max-width:350px){
    .header{
        width: 65%;
    }
    button{
        margin-left: 0;
    }
}